* {
    
}
body {
    background-color: #fefae0;
    color: #1b1b1b
}
header {
    font-size: 0px;
    margin-bottom: 10px;
    background-color: #fefae0;
}
.header-image {
    float: left;
}
.header-buttons {
    float: right;
}
.search-box {
    font-size: 20px;
    border-radius: 5px;
}

.language {
    float: right;
    margin-left: 15px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #e89149;
}
.navbar {
    font-size: 20px;
    padding: 50px 30px 30px 30px;
    text-align: center;
}
ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    margin-top:50px;
}
ul li a {
    text-decoration: 0;
    color: #1b1b1b
}
h1 {
    text-align: left;
    background-color: #e89149;
    padding: 10px;
    font-size: 30px;
}
#main-image {
float: left;
width: 300px;
margin-left: 50px;
margin-right: 100px;
}
.small-one {
margin-right: 96px;
}

.pet-name {
    display:inline-block;
    margin-bottom: 0px;
    font-size: 25px;
}
.favorite-button {
    font-size: 20px;
    border: 0px;
    color: #83a785;
}
#bio {
    margin: 60px 60px 1px 50px;
}
#adopt-donate {
    margin-top: 25px;
}
.adopt {
    border-radius: 5px;
    height: 50px;
    width: 150px;
    margin-right: 75px;
    background-color: #caeafc;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.adopt::after {
    font-family: "FontAwesome";
    content: '\f1b0';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-left: 10px;
    color:#83a785;
}
.donate {
    border-radius: 5px;
    height: 50px;
    width: 150px;
    background-color: #caeafc;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.donate::after {
    font-family: "FontAwesome";
    content: '\f06b';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-left: 10px;
    color:#83a785;
}
#sex::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "FontAwesome";
    content: '\f222';
    margin: 5px;
}
